body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#head a i {
    color: white;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 2rem;
}

#inputValue {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 20rem;
    align-self: flex-start;
    margin-top: 2rem;
    outline: none;
    color: white;
    font-size: 1rem;;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

#result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding-bottom: 2rem;
    /* border: 1px solid #212121; */
    padding: 1%;
    transition: ease-in-out 0.5s;
    color: white;
    margin-bottom: 2rem;
}

section:hover {
    background-color: #252525;
}

section h2 {
    padding: 1rem 0;
    align-self: center;
    text-align: center;
}

section p {
    padding: 1rem 1rem;
    margin: 0;
    flex-grow: 1;
}

section p span {
    color: red;
}

section img {
    width: 60%;
    align-self: center;
    border: 2px solid white;
    margin-top: 1rem;
}

section .showDetails {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    border: 1px solid white;
    background-color: transparent;
    padding: 1rem 2rem;
    width: 50%;
    font-size: 1rem;
    color: white;
    margin: 1rem;
    transition: ease-in-out 0.2s;
    align-self: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

section .showDetails:hover {
    background-color: red;
    border: red;
    cursor: pointer;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    
  }
  
  /* The popup form - hidden by default */
  #signupContainer {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    background-color: #000000c4;
  }

  #signinContainer {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    background-color: #000000c4;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: fixed;
    top: 30%;
    right: 39%;
    z-index: 9;
    padding: 1rem;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=email], .form-container input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
