body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#head a i {
    color: white;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.headButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#inputValue {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 20rem;
    align-self: flex-start;
    margin-top: 2rem;
    outline: none;
    color: white;
    font-size: 1rem;
    ;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding-bottom: 2rem;
    padding: 1%;
    transition: ease-in-out 0.5s;
    color: white;
    margin-bottom: 2rem;
}

section:hover {
    background-color: #252525;
}

section h2 {
    padding: 1rem 0;
    align-self: center;
    text-align: center;
}

section p {
    padding: 1rem 1rem;
    margin: 0;
    flex-grow: 1;
}

section p span {
    color: red;
}

section img {
    width: 60%;
    align-self: center;
    border: 2px solid white;
    margin-top: 1rem;
}

.button-white {
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    border: 1px solid white;
    background-color: transparent;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 1rem;
    color: white;
    transition: ease-in-out 0.2s;
    align-self: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.button-white:hover {
    background-color: red;
    border: red;
}

.button-red {
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    border: 1px solid red;
    background-color: red;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 1rem;
    color: white;
    /* margin: 1rem; */
    transition: ease-in-out 0.2s;
    align-self: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.headButtons button {
    width: 10rem;
    margin-left: 1rem;
}

.form-container .button-white {
    width: 100%;
}

.form-container .button-red {
    width: 100%;
}

#signupContainer {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    background-color: #000000c4;
}

#signinContainer {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    background-color: #000000c4;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: fixed;
    top: 30%;
    right: 39%;
    z-index: 9;
    padding: 1rem;
    background-color: #0a0a0a;
}

.form-container h1 {
    color: red;
}

.form-container input[type=email],
.form-container input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#classement {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-moment {
    color: white;
    font-size: 1.5rem;
    color: red;
}

#classement ul {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0;
}

#classement li {
    display: flex;
    flex-direction: column;
    padding-right: 6rem;
}